{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}

    {% include 'menu/_menu.html.twig' %}

    <h1>Liste des articles</h1>

    {{ articles|taille }}

    {% set resultat = addition(2, 5) %}

    <p>{{ resultat }}</p>

    {{ "now"|date("d/m/Y") }}

    {% set temperature = 3 %}

    <p>Température : {{ temperature }}</p>

    {% set temperature = temperature + 5 %}

    <p>Température : {{ temperature }}</p>

    <ul>
    {% for article in articles %}

        <li><a href="{{ path('vue_article', { 'id':article['id'] }) }}">{{ article['nom'] }}</a></li>

    {% endfor %}
    </ul>

{% endblock %}

